<div class="jumbotron text-center">
  <h1 class="display-3">Saved Articles</h1>
  <a href="/"><button id="back-button" type="button" class="btn btn-dark">Back to Articles</button></a>
</div>

<div class="container">
	<div class="row">
		{{#each articles}}

			<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
				<div class="card" style="width: 20rem;">
				  <img class="card-img-top" src="{{this.photo}}" alt="Article Image">
				  <div class="card-body">
				    <a href="{{this.url}}" target="_blank"><h4 class="card-title">{{this.headline}}</h4></a>
				    <p class="card-text">{{this.summary}}</p>
				  </div>
				  <button id="note-button" value="{{this._id}}" type="button" class="btn btn-warning">Notes</button>
				  <button id="unsave-button" value="{{this._id}}" type="button" class="btn btn-danger">Unsave</button>
				</div>
			</div>

		{{/each}}
	</div>
</div>

<div id="note-modal" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Article Notes</h5>
	      </div>
	      <div class="modal-body">

	      	<div>
	      		<ul id="note-body">
	      			
	      		</ul>
	      	</div>
	      	
	        <form>
			  <div class="form-group">
			    <label for="addingNotes">Add Note</label>
			    <input type="text" class="form-control" id="note">
			  </div>
			 </form>
	      </div>
	      <div class="modal-footer">
	        <button id="save-note" type="button" class="btn btn-primary">Save</button>
	        <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>